.cards{
    display: flex;
    gap:20px;
    justify-content: center;
    margin-top: 3em;
    width: 98vw;
    background-image: url(../imagens/vetor3.png);
    background-repeat: no-repeat;
}

.cards__fundo{
    width: 310px;
    height: 511px;
    background: var(--gradientefundo);
    border-radius: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: var(--fonte);
    color: var(--branco);
    gap:15px;
}

.cards__img{
    border: 15px solid var(--gradientecirculo);
    border-radius: 100%;
}

.cards__titulo{
    font-size: 24px;
    font-weight: bold;
}

.cards__texto{
    font-size: 15px;
    padding: 20px;
    text-align: center;
}

.tech{
    width: 1100px;
    height: 330px;
    background-image: url(../imagens/imagem3.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    margin: auto;
    font-family: var(--fonte);
    color: var(--branco);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap:20px;
}

.tech__titulo{
    font-size: 36px;
    font-weight: bolder;
}

.tech__p{
    font-size:36px;
    font-weight: light;

}

.empresas{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 98vw;
}

.linhanumeros{
    display: flex;
    justify-content: center;
    gap: 90px;
    background-image: url(../imagens/vetor4.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 5em;
}

.linhanumeros__div{
    font-family: var(--fonte);
    font-weight: 900;
    font-size: 60px;
    color: var(--roxoescuro);
    padding: 80px;
    background-image: url(../imagens/circulo.png);
    background-position: center;
    background-repeat: no-repeat;
}

.linhatexto{
    display: flex;
    justify-content: center;
}

.linhatexto__p{
    width: 12em;
    font-family: var(--fonte);
    font-weight: 400;
    font-size: 24px;
    color: var(--branco);
    text-align: center;
}