.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 5em;
    position: relative;
    background-image: url(../imagens/vetor6.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 70%
}

.footer__logo{
    width: 160px;
    height: 180px;
}
.footer__nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer__vetor{
    height: 190px;
    margin: 2px;
}
.footer__lista{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 40px;
}

.footer__nav__link{
    font-size: 16px;
    font-family: var(--fonte);
    color: var(--branco);
    line-height: 40px;
}

.footer__socialize{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer__nav__p{
    font-size: 16px;
    font-family: var(--fonte);
    color: var(--branco);
}

.footer__direitos{
    top: 100%;
    position: absolute;
    font-family: var(--fonte);
    color: var(--branco);
    font-size: 15px;
    margin: 3em;
}

.footer__direitos__link{
    font-weight: 800;
    color: var(--branco);
    transition: 1s;
}

.footer__direitos__link:hover{
    font-weight: 800;
    color: var(--destaque);
    font-size: 17px;
}