.banner{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.banner__bloco1{
    color: var(--branco);
    font-family: var(--fonte);
    width: 450px;
}

.banner__bloco1__titulo{
    font-size: 40px;
    font-weight: bold;
    line-height: 1.5em;
}

strong{
    font-size: 46px;
    background: var(--gradientetitulo);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.banner__bloco1__p{
    line-height: 2em;
}

.banner__botao{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.banner__bloco2__imagem{
    width: 450px;
}

.informaçoes{
    background: var(--gradientefundo);
    max-width: 1100px;
    border-radius: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    padding: 5px;
    margin-top: 3em;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.200);
}

.informaçoes img{
    width: 50px;
    height: 50px;
}

.informaçoes h2{
    font-family: var(--fonte);
    font-weight: bold;
    font-size: 20px;
    color: var(--branco);
}

.informaçoes p{
    font-family: var(--fonte);
    font-size: 14px;
    font-weight: 400;
    color: var(--branco);
    padding-top: 0.5em;
    width: 150px;
}

.banner__separacao{
    height: 90px;
    margin: 15px;
    color: var(--transparencia);
} 