@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url(../style/header.css);
@import url(../style/s1-banner.css);
@import url(../style/introducao.css);
@import url(../style/cards.css);

:root{
    --branco: #FFFFFF;
    --destaque: #C0B7E8;
    --roxoescuro: #343045;
    --fundo: #302C42;
    --transparencia: #C0B7E8;
    --gradientebotao: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    --gradientefundo: radial-gradient(50% 2900.76% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%);
    --gradientetitulo: linear-gradient(91.57deg, #C0B7E8 -1.02%, #8176AF 36.25%);
    --fonte: 'Montserrat', sans-serif;
    --gradientecirculo: rgba(14, 14, 14, 0.32);
}

body{
    background-color: var(--fundo);
}

main{
    background-image: url(../imagens/vetor.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: right top;
}

