@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display&family=Source+Code+Pro&display=swap');

:root{
    --cor-01: #000;
    --cor-02: #f6f6f6;
    --cor-03: #22D4FD;
    --fonteparagrafo: 'Noto Sans Display', 'sans-serif';
    --fontetitulo: 'Source Code Pro', monospace;
}

body{
    background-color: var(--cor-01);
    color: var(--cor-02);
    box-sizing: border-box;
}

/* HEADER */
.cabecalho{
    padding: 2% 0 0 16%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}
.cabecalho__menu__a{
    font-size: 20px;
    font-family: var(--fonteparagrafo);
    font-weight: bold;
    color: var(--cor-03);
    transition-duration: 1s;
}

.cabecalho__menu__a:hover{
    color: var(--cor-02);
}

@media screen and (max-width: 450px){
    .cabecalho{padding: 3%;}
    .cabecalho__menu{display: flex; justify-content: end; gap: 40px;}
    .cabecalho__menu__a{font-size: 16px;}
}

/*MAIN*/
.conteudo{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.conteudo__texto{
    max-width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.conteudo__texto__titulo{
    font-size: 36px;
    font-weight: bold;
    font-family: var(--fontetitulo);
}

strong{
    color: var(--cor-03);
}

.conteudo__texto__paragrafo{
    font-size: 24px;
    font-family: var(--fonteparagrafo);
    line-height: 1.2em;
    text-align: justify;
}

.conteudo__link{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.conteudo__link__titulo{
    font-size: 24px;
    font-weight: bold;
    font-family: var(--fonteparagrafo);
}

.conteudo__link_a{
    font-family: var(--fonteparagrafo);
    font-weight: bold;
    color: var(--cor-02);
    border: 2px solid var(--cor-03);
    width: 378px;
    padding: 16px 0;
    border-radius: 8px;
    font-size: 24px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.conteudo__link_a:hover{
    background-color: #272727;
    transition-duration: 1s;
}

img{
    max-width: 400px;
}

@media screen and (max-width: 450px){
    .conteudo{display: flex; flex-direction: column; padding: 20px; justify-content: center; max-width: 400px; gap: 30px;}
    .conteudo__texto {max-width: 430px; padding: 0px 15px;}
    .conteudo__texto__titulo{font-size: 24px; width: 350px; text-align: center; padding-top: 10px;}
    .conteudo__texto__paragrafo{font-size: 16px; width: 350px; text-align: center; line-height: 1em;}
    .conteudo__link__titulo{font-size: 19px;}
    .conteudo__link_a{font-size: 16px;padding: 10px 0; width: 320px;}
    img{max-width: 305px;}
}

/* FORMULARIO */
.conteudo__formulario{
    max-width: 615px;
    margin: auto;
    padding: 50px;
}

.conteudo__formulario__titulo{
    font-size: 36px;
    font-family: var(--fontetitulo);
    }

.conteudo__formulario__form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 300px;
}

.conteudo__formulario__label{
    font-size: 24px;
    font-family: var(--fonteparagrafo);
}

.conteudo__formulario__input{
    height: 25px;
    margin-bottom: 10px;
    border: 5px solid var(--cor-03);
    border-radius: 8px;
    width: 350px;
}

.conteudo__formulario__textarea{
    border: 5px solid var(--cor-03);
    border-radius: 8px;
    width: 350px;
}

.conteudo__formulario__button{
    width: 150px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    font-weight: bold;
    transition-duration: 1s;
    cursor: pointer;
    font-family: var(--fonteparagrafo);
    background-color: var(--cor-02);
    border: 1px solid var(--cor-03);
}

.conteudo__formulario__button:hover{
    background-color: var(--cor-01);
    color: var(--cor-03);
}

@media screen and (max-width: 450px){
    .conteudo__formulario__titulo{font-size: 24px;}
    .conteudo__formulario__label{font-size: 16px;}
}

/* FOOTER */
.rodape{
    background-color: var(--cor-03);
    color: var(--cor-01);
    font-family: var(--fonteparagrafo);
    text-align: center;
    padding: 20px;
}
